extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Begana Choi

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer based in Berlin.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Begana Choi. I'm a junior full-stack JavaScript Developer.
            | I graduated an art-school as a painter and recently I've changed my career as a web developer.
            | I'm improving my skills everyday and as soon as I finish my course, I want to take an internship to accumulate tech-environment experience.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Html
          li JavaScript
          li Vanilla JS
          li Ajax
          li Node.js
          li Express
          li Pug
        h6 Contact Info

        //- Add your own contact info
        ul
          li +49 1632922344
          li begana001.jpg@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/begana') GitHub
        a.button.expanded(href='https://www.facebook.com/anna.lowe.50309277') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  